<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <p>Click a button to go to another route:</p>
    <a href="{{ url_for('GetTrackInfo') }}" class="btn btn-primary">Get Track Info</a>
    <p> </p>
    <a href="{{ url_for('recent_25_features_to_db') }}" class="btn btn-primary">Store 25 most recent songs playlist features to db</a>
    <p> </p>
    <a href="{{ url_for('create_recent_25_playlist') }}" class="btn btn-primary">Create a playlist from your 25 most recent songs</a>
</body>
</html>